.header, .section-one, .footer {
    background-color: #1f2937;
}

.header {
    color:#f9faf8;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    color: #e5e7eb;
    font-size: 18px;
}

.section-one {
    color:#f9faf8;
}

.section-one-intro {
    color: #f9faf9;
    font-size: 48px;
    font-weight: extra-bold;
}

.intro-section {
    color: #e5e7eb;
    font-size: 18px;
}

.section-two-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: extra-bold;
}

.section-three {
    background-color: #e5e7eb;
    color: #1f2937;
    font-weight: lighter;
    font-size: 36px;
}

.bubble {
    background-color: #3882f6;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}

.footer {
    color: #e5e7eb;
}